<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
    <style>
   .center {; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: #fc0; /* Цвет фона */
   }
  </style>
  </head>
  <body>
    <div class='center'>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
          <div class="input-group">
              <input placeholder="Введите ваше имя" type="text" class="form-control" id='inputName'/>
              <span class="input-group-btn">
                  <button class="btn btn-default" id='checkName' type="button">Go!</button>
              </span>
          </div><!-- /input-group -->
      </div><!-- /.col-lg-4 -->
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <span id='result'></span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-4 -->
    </div></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript">
    function getCookie(name) {
      var matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
    }
    var csrftoken = getCookie('csrftoken');
      $('#checkName').click(function() {
          //alert($('#inputName').val())
          var xhr = new XMLHttpRequest();
          var data = {'name': $('#inputName').val()}
          var json = JSON.stringify(data);
          xhr.open("POST", 'http://127.0.0.1:8000/compliment/', true)
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
          xhr.withCredentials = true;
          xhr.onreadystatechange = function() {
              if (xhr.readyState == 4) {
              if(xhr.status == 200) {
                  data = JSON.parse(xhr.responseText)
                  console.log(data['name'], data.compliment);
                  $('#result').html('Рад тебя видеть снова, '+ data.compliment + ' ' + data.name)
                  }
              }
          }
          xhr.send(json);
      });
    </script>
  </body>
</html>
